@import '../../variables.scss';
@import '../../mixins.scss';

.section-inicio {
    position: relative;
    height: 93%;
    width: 100%;
}

.bg-video{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .35;
    overflow: hidden;

    &__content{
        height: 100%;
        width: 100%;
        object-fit: cover;
        
        @include respond(tab-land){
            width: 100%;
        }
    }

}

.logo{
    position: absolute;
    top: 4%;
    left: 9%;
    display: flex;
    align-items: flex-start;
    margin-bottom: 5rem;
    width: 80%;
    img{
        height: 15rem;
        @include respond(tab-port){
            height: 10rem;
        }
        @include respond(phone){
            height: 7rem;
        }
    }
    p{
        margin-left: 3rem;
        color: $color-primary;
        font-size: 4rem;
        font-weight: 900;
        text-align: left;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        
        @include respond(tab-port){
            font-size: 2.7rem;
        }

        @include respond(phone){
            font-size: 2rem;
        }
    }

}

.button{
    position: absolute;
    top: 75%;
    left: 17%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    
    @include respond(tab-port){
        left: 27%;
    }

    @include respond(phone){
        left: 50%;
    }
}