@import '../../variables.scss';

.Navbar {
    width: 100%;
    background-color: $color-black-ligth;
    padding: 1rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo{
        img {
            height: 3.5rem;
        }
    }

    &__navs{
        list-style: none;
        display: flex;
    }

    &__item{
        color: $color-grey-light-4;
        font-size: $subtitle-font-size;
        font-weight: 600;
        text-transform: uppercase;
        margin: 0 2rem;
        cursor: pointer;
        transition: all .2s;

        &:hover {
            font-weight: 700;
            color: white;
            border-bottom: 1px solid $color-primary;
        }
    }
}

.active{
    font-weight: 700;
    color: white;
    border-bottom: 1px solid $color-primary;
}