@import '../../variables.scss';

.Navbar {
    width: 100%;
    background: rgba(0, 0, 0, 0);
    padding: 1rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo{
        img {
            height: 7rem;
        }
    }

    &__navs{
        list-style: none;
        display: flex;
    }

    &__item{
        color: $color-grey-light-4;
        font-size: $tittle-font-size;
        text-transform: uppercase;
        margin: 0 2rem;
        cursor: pointer;

        &:hover{
            font-weight: bolder;
            color: white;
        }
    }
}