@import "../../variables.scss";
@import "../../mixins.scss";

.section-sucursales{
    position: relative;
    width: 100%;
    height: 90%;
    @include respond(phone){
        height: auto;
    }
}

.bg-image{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .10;
    overflow: hidden;

    &__content{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.top-part{
    width: 100%;
    height: 100%;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
    @include respond(phone){
        justify-content: space-around;
    }

    &__title{
        font-size: 3.5rem;
        text-transform: uppercase;
        color: white;
        font-weight: 900;
        width: 45%;
        text-align: center;
        span{
            -webkit-box-decoration-break: clone;
            box-decoration-break: clone;
        }

        @include respond(tab-port){
            font-size: 2.5rem;
        }
        
        @include respond(phone){
            margin: 3rem 0;
            font-size: 2rem;
            font-weight: 500;
        }
    }

    &__sucursales{
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;

        @include respond(tab-port){
            flex-wrap: wrap;
        }
    }
}

.sucursal{
    padding: 5rem;
    flex-basis: 30rem;

    @include respond(tab-port){
        padding: 2rem;
        flex-basis: 20rem;
    }

    @include respond(phone){
        flex-basis: 20rem;
    }
    
    &__img{
        margin-bottom: 2rem;
        svg{
            @include respond(phone){
                width: 6rem;
            }
        }
    }

    &__title{
        font-size: $subtitle-font-size;
        color: white;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }

    &__text{
        font-size: $regular-font-size;
        color: $color-grey-light-4;
    }
}